.carousel-title {
    color: rgb(255, 255, 255); /* Set the color of the carousel title to black */
  }
  
.carousel-description {
    color: rgb(255, 255, 255); /* Set the color of the carousel title to black */
    font-weight: bold;
  }
  
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .transparent {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .transparent.visible {
    opacity: 1;
  }
  /*CSS*/
div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}
.carousel-caption {
  transition: opacity 0.5s ease-in-out;
}

.carousel-caption.fade-out {
  opacity: 0;
  visibility: hidden;
}

.carousel-caption.fade-in {
  opacity: 1;
  visibility: visible;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}